<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if title %}{{ title }} | {% endif %}{{ site.name }}</title>
    {% if description -%}
      <meta name="description" content="{{ description | escape }}" />
    {% endif -%}
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="license" href="https://www.gnu.org/licenses/gpl-3.0.en.html" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    <script type="module" async src="/assets/js/turbo.es2017-esm.min.js"></script>
    {% if layout == "contact.html" -%}
      <script src="/assets/js/botpoison" async></script>
    {% endif -%}
    <script data-goatcounter="https://analytics.avocoffee.co.uk/count"
      async src="https://analytics.avocoffee.co.uk/count.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>
  <body class="{{ page.fileSlug }}">
    <header>
      <a class="logo" href="/">
        <img
          decoding="sync"
          src="/assets/avo-coffee-logo.png"
          alt="{{ site.name }} logo"
        >
      </a>
      <p>{{ site.tagline }}</p>
      <address>
        {{ site.address }}<br>
        {{ site.hours }}
      </address>
    </header>

    <nav>
      <ul>
        {%- assign pages = collections.page | where: 'data.link_order' -%}
          {%- assign pages = pages | sort: 'data.link_order' -%}
          {% for p in pages %}
          <li>
            <a href="{{ p.url }}"
              {% if p.url == page.url %}
                aria-current="page"
              {% endif %}
            >
              {{ p.data.link_title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>

    <main>
      {{ content }}
    </main>

    <hr />

    <section id="visit-us">
      <h2>Visit Us</h2>
      <address>
        <strong>{{ site.name }}</strong><br />
        {{ site.address }}<br />
        {{ site.hours }}
      </address>
      <p><a href="/contact/">Click here</a> for more contact info</p>
    </section>

    <footer>
      <div class="social-links">
        <a href="{{ site.social.facebook }}" target="_blank" rel="noopener">Facebook</a>
        <a href="{{ site.social.instagram }}" target="_blank" rel="noopener">Instagram</a>
        <a href="{{ site.social.happycow }}" target="_blank" rel="noopener">HappyCow</a>
        <a href="{{ site.social.tiktok }}" target="_blank" rel="noopener">TikTok</a>
      </div>
      {% renderSnippet "footer-text" %}
      {% if layout == "home.html" %}
        <p><a href="https://chobble.com" rel="nofollow">website by chobble</a></p>
      {% endif %}
    </footer>
  </body>
</html>
